*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.mouse-menu{
  background-color: rgb(236, 139, 21);
  font-size: 1.2rem;
  position: absolute;
  width: 80px;
  padding: 2px 0px;
  display: none;
  border: 1px solid black;
  border-radius: 5px;
}

.mouse-menu>div{
  display: flex;
  gap: 2px;
  margin: 1px 0;
}

.mouse-menu>div>img{
  width: 20px;
}

.mouse-menu>p{
  padding-left: 3px;
}

.mouse-menu>div:hover{
  background-color: white;
  cursor: pointer;
}

.header{
  background-color: rgb(219, 119, 119);
  height: 70px;
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-between;
  padding: 0 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.characters>img{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin: 0 4px;
}

.decrease-opacity{
  opacity: 0.3;
}

.game-over-screen{
  background-color: rgba(222, 184, 135, 0.5);
  position: absolute;
  height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}

.game-over-screen>p{
  font-size: 2rem;
}

.game-modes{
  display: flex;
  gap: 1rem;
  justify-content: space-around;
}

.game-modes>div{
  width: 200px;
  height: 200px;
  background-color: cadetblue;
}

.game-modes>div:hover{
  cursor: pointer;
}

.game-screen{
  margin-top: 70px;
}

.lead-to-home>a>button{
  padding: 0.8rem;
  margin: 4px;
  background-color: rgb(224, 102, 102);
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 1.1rem;
}

.leaderboard-heading{
  text-align: center;
}

.leaderboard-menu{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
}

.leaderboard-menu>button{
  padding: 2rem;
  border: none;
  background-color: rgb(102, 189, 224);
  color: white;
  font-size: 1.2rem;
  border-radius: 8px;
}

.score-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  margin: 5px auto;
  /* border: 1px solid gray; */
  box-shadow: 1px 1px 7px 0.7px rgb(194, 193, 193);
  border-radius: 3px;
}

.score-row>p{
  font-size: 1.2rem;
  padding: 10px;
}

